/* Desktop */

/* General CSS starts */
html{
  background: #fbfbfb;
}

body {
  background:#f6f6f6;
  color: black;
  width: 75%;
  margin: 10px auto;
  font-family: monospace, Sans-serif;
  padding: 3em;
}

.page-title {
  padding-left: 20px;
  padding-top: 5px;
  color: #6cde77;
  font-size: 25px;
  font-family: monospace, sans-serif;
}

.page-title2 {
  padding-top: 5px;
  color: black;
  font-size: 40px;
  text-align: center;
}

.source {
  padding-top: 10px;
  margin: 0 0 0 10px;
}

h2 {
  color: #6cde77;
}

p {
  padding: 0px 20px 0px 20px;
  font-size: 15px;
}

img{
  width:50%;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
  width:100%;
}

.hidden{
  visibility: hidden;
}

.source {
  font-size: 10px;
}

img.logo {
  padding: 5px;
}

h1.page-title {
  vertical-align: middle;
  font-size: 50px;
}

h3.page-title {
  font-size: 17px;
  color: black;
  vertical-align: middle;
  padding: 44px 0 0 40px;
}
/* Nav Bar */

nav ul li {
  margin: 10px 20px 10px 0;
  font-size: 30px;
  flex: none;
}

nav ul {
  display: flex;
  border-bottom: black solid 0.2rem;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 5px;
  margin: 0 0 8px 0;
}

nav ul li a{
  color: black;
  font-size: 20pt;
  font-weight: bold;
  font-family: monospace, sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 0.2em;
  margin: 15px;

}

.citation{
  padding-top: 30px;
}

.page_top {
  display: flex;
  flex-direction: row;
}

.page-title2{
 font-size: 25px;
 color: #6cde77;
}

a:hover, a:focus, a:active {
	color: #6cde77;
}

/* General CSS ends */


/* Home CSS starts*/
.logo {
  padding: 30px;
  width: 10%;
}

.homepic{
  height: 25%;
  width: 50%;
}

.lunchspecial{
  width: 100%;
  height: 100%;
}

.homephoto {
  text-align: right;
}

.home_p{
  padding: 0 10px 0 0;
}
/* Home CSS ends */


/* Menu CSS starts */
.menu-section {
  text-decoration: underline;
  text-align: center;
}

.menu-list li {
  list-style: none;
}

.menu{
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  width: 600px;
}

.mobilemenu{
  display: flex;
  flex-direction: row;
}
/* Menu CSS ends */


/* About CSS starts */
.about-page-pics {
  display: flex;
  padding: 0px 20px 0px 20px;
}

.about-page-pics img {
  height: 30%;
  width: 30%;
}

.aboutimage {
  margin: 0 20px 0 0;
}

/* About CSS ends */


/* Food gallery CSS starts */
button{
  height: 20px;
  border-radius: 20%;
  color: #6cde77;
  background: white;
  border-color: #6cde77;
}

#foodgalleryNext{
  height: 50px;
  font-size: 20pt;
  align-self: center;
}

#insidegalleryNext{
  height: 50px;
  font-size: 20pt;
  align-self: center;
}

.end{
  display: inline-block;
  text-align: right;
}

.foodgallery{
  width: 100%;
  height: 310px;
}

.container {
  width: 30%;
  position: relative;
  margin: 10px 20px 5px 0;
}

.container p {
  font-size: 12pt;
}

.description {
  margin: 0 0 0 0;
  position: absolute;
  width: 99%;
  height: 290px;
  bottom: 20px;
  background-color: #f6f6f6;
  color: black;
}

/* Food gallery CSS ends */


/* Feedback CSS starts */

#feedbackForm {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 0 auto;
  padding: 0 5px;
}

#feedbackForm div {
  margin: 0 10px 0 0;
}

#feedbackForm label {
  display: inline-block;
  width: 200px;
  text-align: right;
  margin: 10px;
}

#resumeForm input {
  width: 200px;
  display: inline-block;
  text-align: left;
}

.hidden {
  visibility: hidden;
}

.submit {
  width: 100px;
  font-size: 15px;
  align-self: flex-end;
  font-family: monospace, sans-serif;
}

.error {
  text-align: center;
  color: #e80000;
  font-weight: bold;
}

.image_description {
  text-align: center;
  text-decoration: underline;
  font-size: 25px
}
/* Feedback CSS ends */


/* FAQ CSS starts */
ol {
  width: 80%;
}

ol li {
  font-size: 13pt;
  font-weight: bold;
}

ol li ul {
  padding: 0;
}

ol li ul li {
  font-size: 11pt;
  font-weight: normal;
  margin: 10px 0;
  list-style-type: none;
}

.mapimage{
  width: 70%;
  border: #858585 solid 0.2rem;
  margin: 0 0 5px 0 ;
}
/* FAQ CSS ends */


/* Mobile */
@media screen and (max-width: 600px) {
  /* General CSS starts */
  html{
  background:#f6f6f6;
  width: 100%;
  font-size: 110%;
  }

  body{
  margin: 0 auto;
  }

  .page_top {
    display: flex;
    flex-direction: column;
  }

  h1.page-title {
    margin: 2px;
    padding: 4px;
  }

  h3.page-title {
    margin: 2px;
    padding: 4px;
  }

  nav ul {
    display: flex;
    padding: 1em;
  }
  nav ul li {
    width: 33%;
    margin: 0;
  }
  nav ul li a {
    display: block;
    font-size: 50%;
    text-align: center;
    margin: 0px;
  }


  /* General CSS ends */


  /* Home CSS starts*/
  .mobilehome {
    display: flex;
    flex-direction: column;
  }

  .homephoto{
    width:100%;
    margin:0;
  }

  .homepic{
    width: 100%;
    margin: 0 0 10px 0;
  }

  .lunchspecial{
    width: 100%;
    margin:  0;
    padding: 0;
  }

  .home_p{
    font-size: 14px;
  }
  /* Home CSS ends */


  /* Menu CSS starts */
  .mobilemenu{
    display: flex;
    flex-direction: column;
  }

  .menu{
    width: 100%;
    margin: 0;
  }

  ul.menu-list{
    padding: 0;
  }
  /* Menu CSS ends */


  /* About CSS starts */

  /* About CSS ends */


  /* Food gallery CSS starts */
  .image_description{
    font-size: 20px;
  }

  button{
    height: 25px;
    font-size:  20px;
  }

  .foodgallery{
    width: 100%;
    height: 400px;
  }

  .mobile_food{
    font-size: 150%;
    text-align: center;
  }

  .container{
    width: 100%;
  }

  .description{
    width: 99%;
    height: 290px;
  }


  /* Food gallery CSS ends */


  /* Feedback CSS starts */
  #feedbackForm{
    width: 90%;
  }
  #feedbackForm div {
    width: 90%;
  }

  #feedbackForm label {
    display: block;
    width: 100%;
    text-align: left;
  }

  #resumeForm input {
    width: 175px;
    display: flex;
    flex-direction: column;
    margin: 5px 0 0 10px;
  }

  #feedbackForm button.submit {
    width: 100px;
    margin: 10px 5px 20px 0;
  }

  .submit {
    width: 20%;
    align-self: flex-end;
    font-size: 15px;
  }

  .error {
    text-align: left;
  }

  #feedbackForm .freq {
    display: flex;
    flex-direction: column;
  }


  /* Feedback CSS ends */

  /* FAQ CSS starts */
  .mapimage{
  width: 100%;
  }
  /* FAQ CSS ends */

}
